{% extends "base.html"%}

{% block content %}
<h1>Client Intake Form</h1>
<form class="form-horizontal" method="POST" action="">{% csrf_token %}
    <div class="row">
        <div class="col-xs-6">
<table class="table table-striped">
{{form.as_table}}
</table>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} above.
        </p>
    {% endif %}
{% endblock %}