{% extends "base.html"%}
{% block content %}
<div class="well">
<div class="form-group">
{{ searchform.subject.errors }}
{% csrf_token %}
        <label for="clientcode">Client code:</label>
        {{ searchform.clientcode }}
</div>
<div class="form-group">
<button id="searchbtn" type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
<div class="row">
<table id="search-results" class="table table-striped">

</table>
</div>
<div id="history" class="row">

</div>
	<script>
$(document).ready(function() {
	 
    $('.datepicker').datepicker({
		todayHighlight: true,
		format: "yyyy-mm-dd",
		autoclose: true
	});
    $( "#searchbtn" ).click(function() {
    	console.log($("#id_clientcode").val())
    	$.ajax({
    		type: "POST",
    		url: "/search/",
    		 data: { 
    			 'search_text' : $("#id_clientcode").val(),
    			 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
    			 },
    			 success: searchSuccess,
    			 dataType: 'html'
            
        });
    	//$("#d").text($("#id_clientcode").val());
    });
    
    function searchSuccess(data, textStatus, jqXHR){
    	$('#search-results').html(data)
    }
});

</script>
{% endblock %}